{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <form action="{% url 'add-passes' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <select class="form-control select2" name="player">
                                        {% for i in player %}
                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="Type Of Pass" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" name="pass" placeholder="All Passes" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" name="success" placeholder="Successful Passes" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-success">Save</button>
                            </form>
                            <a href="{% url 'passes' %}"><button class="btn btn-success mt-2">Back To Passes</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}