{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <form action="{% url 'add-report' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="custom-file mb-4">
                                    <input type="file" name="img" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose</label>
                                </div>
                                <div class="custom-file mb-4">
                                    <input type="file" name="video" class="custom-file-input" id="customVideo">
                                    <label class="custom-file-label" for="customVideo">Video</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="date" class="form-control datetimepicker">
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="custom-switch">
                                            <input type="checkbox" name="is-video" value="True" class="custom-switch-input">
                                            <span class="custom-switch-indicator"></span>
                                            <span class="custom-switch-description">Is-Video</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="custom-switch">
                                            <input type="checkbox" name="is-top" value="True" class="custom-switch-input">
                                            <span class="custom-switch-indicator"></span>
                                            <span class="custom-switch-description">Is-Top</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="custom-switch">
                                            <input type="checkbox" name="is-news" value="True" class="custom-switch-input">
                                            <span class="custom-switch-indicator"></span>
                                            <span class="custom-switch-description">Is-News</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="bio" placeholder="Description / Text" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="author" placeholder="Author / Title" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-success">Save</button>
                            </form>
                            <a href="{% url 'report' %}"><button class="btn btn-success mt-2">Back To Report</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}