{% extends 'base.html' %}
{% block content %}

<main class="main-content">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover" style="text-align: center">
                    <thead>
                        <tr>
                            <th scope="col">Club</th>
                            <th scope="col">Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Number</th>
                            <th scope="col">Goals</th>
                            <th scope="col">Minute</th>
                            <th scope="col">Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in line %}
                            <tr>
                                <td>{{ i.club.name }}</td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.l_name }}</td>
                                <td>{{ i.number }}</td>
                                <td>{{ i.goals }}</td>
                                <td>{{ i.minute }}</td>
                                <td><a href="{% url 'update-player' i.id %}"><i class="align-middle" data-feather="edit-2"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}