{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <table class="table table-hover" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th scope="col">Club</th>
                                        <th scope="col">Player</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">All Passes</th>
                                        <th scope="col">Successful Passes</th>
                                        <th scope="col">Successful Percent</th>
                                        <th scope="col">Update</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in passes %}
                                        <tr>
                                            <td>{{ i.player.club.name }}</td>
                                            <td>{{ i.player.name }}</td>
                                            <td>{{ i.name }}</td>
                                            <td>{{ i.all }}</td>
                                            <td>{{ i.successful }}</td>
                                            <td>{{ i.percent }}</td>
                                            <td><a href="{% url 'update-passes' i.id %}"><i class="align-middle" data-feather="edit-2"></i></a></td>
                                            <td><a href="{% url 'delete-passes' i.id %}"><i class="align-middle" data-feather="trash"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'add-passes' %}"><button class="btn btn-success">Add Passes</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}