{% extends 'base.html' %}
{% block content %}

<main class="main-content">
    <div class="section-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'update-line' line.id %}" method="post">
                            {% csrf_token %}
                             <div class="form-group col-3 mr-2">
                                <select class="form-control select2" name="club">
                                    <option value="{{ line.club.id }}">{{ line.club.name }}</option>
                                    {% for i in club %}
                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <select class="form-control select2" name="game">
                                    <option value="{{ line.game.id }}">{{ line.game.host.name }} VS {{ line.game.guest.name }}</option>
                                    {% for i in game %}
                                        <option value="{{ i.id }}">{{ i.host.name }} VS {{ i.guest.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <select class="form-control selectric player" name="player" multiple="">
                                    {% for i in players %}
                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}